@font-face {
  font-family: "SF-PRO-REGULAR";
  src: url(./media/sf-pro-display-cufonfonts/SFPRODISPLAYREGULAR.OTF);
}

@font-face {
  font-family: "SF-PRO-BOLD";
  src: url(./media/sf-pro-display-cufonfonts/SFPRODISPLAYMEDIUM.OTF);
}

body {
  padding: 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
  font-family: "Arial, Helvetica, sans-serif";
  font-weight: 400;
  font-size: 13px;
  background-size: 100%;
  font-family: no-repeat;
}

.pag {
  overflow-x: hidden;
  height: 10000px;
}

.header {
  color: rgb(192, 192, 192);
  padding-bottom: 7px;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.extends {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: rgb(23, 23, 24, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: background-color 0.4s ease-out; /* Transición normal al entrar */
}

.extends:hover {
  background-color: rgb(23, 23, 24);
}

.logo img {
  max-width: 13px;
  height: auto;
  padding-right: 15px;
}
.search.logo {
  padding: 0 20px 0 10px;
  height: auto;
}

#text,
#mac-text,
#id-show {
  cursor: pointer;
  padding: 3px 20px 3px 20px;
  height: 34px;
  display: flex;
  align-items: center;
  font-family: "SF-PRO-REGULAR";
  transition: color 0.7s ease-out;
}
#text:hover,
#mac-text:hover,
#id-show:hover {
  color: rgba(255, 255, 255, 0.966);
}

.showtext {
  margin-top: 0px;
  background-color: rgb(23, 23, 24);
  opacity: 0;
  transition: opacity 300ms;
  font-family: "SF-PRO-REGULAR";
}

.showtext .izq-items a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 2px;
}

.extras-izq {
  margin-top: 7px;
  margin-bottom: 2px;
}
.extras.izq .extras-izq-top {
  margin-bottom: 2px;
}

.izq-items {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  padding-left: 20px;
}
.showtext {
  display: none;
  position: absolute;
  z-index: 1;
  width: 100%;
}

/* ================================================================= */

.hero-mls {
  max-width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero-mls img {
  align-self: left;
  position: relative;
}

.hero-mls .span-prom {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.hero-mls .span-prom h3 {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 28px;
  letter-spacing: 0.004em;
  font-weight: 400;
  font-family: "SF-PRO-REGULAR";
}

.hero-mls .span-prom button {
  margin: 10px auto;
  padding: 10px 20px;
  border: none;
  background-color: #272729;
  color: #fff;
  cursor: pointer;
  border-radius: 20px;
  font-size: 17px;
  line-height: 1.17648;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: "SF-PRO-REGULAR";
  min-width: 28px;
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 11px;
  padding-bottom: 11px;
  --sk-button-margin-horizontal: 18px;
  --sk-button-margin-vertical: 18px;
}

/*---------------------------------------------------------------- */

.iphone-15-pro {
  margin-top: 15px;
  max-height: 700px;
  max-width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.iphone-15-pro img {
  align-self: left;
  position: relative;
}

.iphone-15-pro .span-prom-iphone {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.iphone-15-pro .span-prom-iphone h2 {
  margin: 0;
  padding: 0;
  color: #ffffff;
  font-size: 56px;
  line-height: 1.07143;
  font-weight: 600;
  letter-spacing: -0.005em;
  font-family: "SF-PRO-BOLD";
}

.iphone-15-pro .span-prom-iphone h3 {
  margin: 0;
  padding: 0;
  color: #ffffff;
  line-height: 1.10722;
  letter-spacing: 0.004em;
  font-weight: 400;
  font-family: "SF-PRO-REGULAR";
  font-size: 28px;
}

.iphone-15-pro .span-prom-iphone a {
  text-decoration: none;
  color: #2997ff;
  line-height: 3 !important;
  font-family: "SF-PRO-REGULAR";
  font-size: 21px;
  font-weight: 400;
  line-height: 1.381;
}

.iphone-15-pro .span-prom-iphone #anc-1 {
  padding-right: 30px;
}

#anc-1:hover,
#anc-2:hover {
  text-decoration: underline;
}
